{
	"env": {
		"browser": true,
		"jest/globals": true
	},
	"extends": ["airbnb", "prettier"],
	"plugins": ["prettier", "jest", "react-hooks"],
	"rules": {
		"prettier/prettier": "error",
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": true
			}
		],
	    "import/no-named-as-default": 0,
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"react/jsx-indent": "off",
		"react/jsx-indent-props": "off",
		"react/jsx-one-expression-per-line": "off",
		"react/jsx-wrap-multilines": "off",
		"capitalized-comments": [
			"error",
			"always",
			{
				"ignoreConsecutiveComments": true
			}
		]
	},
	"settings": {
		"import/resolver": {
			"node": {
				"moduleDirectory": ["node_modules", "src"]
			}
		},
		"import/ignore": [".css$"]
	}
}
